button.1=buttons/driftleft.png
command.1=4D283C00

button.2=buttons/forward.png
command.2=4D323200

button.3=buttons/driftright.png
command.3=4D3C2800

button.4=buttons/mot7.png
command.4=2B

button.5=buttons/mot5.png
command.5=2D

button.6=buttons/1280.png
command.6=41

button.7=buttons/turnleft.png
command.7=4D1E4600

button.8=buttons/stop.png
command.8=4D000000

button.9=buttons/turnright.png
command.9=4D461E00

button.10=buttons/avoid.png
command.10=460101

button.11=buttons/no-avoid.png
command.11=66

button.12=buttons/640.png
command.12=63

button.13=buttons/backleft.png
command.13=4DE2BA00

button.14=buttons/back.png
command.14=4DCECE00

button.15=buttons/backright.png
command.15=4DBAE200

button.16=buttons/laser.png
command.16=6C

button.17=buttons/no-laser.png
command.17=4C

button.18=buttons/320.png
command.18=62

button.19=buttons/ccw.png
command.19=4DC04014

button.20=buttons/cw.png
command.20=4D40C014

button.21=buttons/diff-on.png
command.21=6730

button.22=buttons/blob.png
command.22=6731

button.23=buttons/diff-off.png
command.23=47

button.24=buttons/160.png
command.24=61

comport=Network
button.columns=6
wcs.server=localhost
wcs.port=8888
wcs.pass=srv
wcs.camID=1.jpeg
network.srv.host=169.254.0.10
network.srv.port=10001
